---
---
<div class="flex gap-3 items-center border-l border-stone-200 pl-6">
  <a href="/" class="hover:opacity-80 transition" title="Tiếng Việt">
    <img src="https://flagcdn.com/w40/vn.png" class="w-6 h-auto rounded-sm shadow-sm" />
  </a>
  <a href="/zh" class="hover:opacity-80 transition" title="简体中文">
    <img src="https://flagcdn.com/w40/cn.png" class="w-6 h-auto rounded-sm shadow-sm" />
  </a>
</div>